  .search-bar {
 
  margin-bottom: 20px;
}

.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(227, 227, 227);
}
.left-section {
  margin-right: 70px;
  display: flex;
  align-items: center;
}
.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}

.youtube-logo{
  height: 20px;
  
}

.middle-section {
  flex: 1;
  margin-right: 35px;
  margin-left: 70px;
  max-width: 500px ;
  display: flex;
  align-items: center;
}
.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
  margin-bottom: 0px;
}
.search-bar::placeholder {
font-family: Roboto, arial;
font-size: 16px;

}
.search-button {
height: 40px;
width: 66px;
background-color: rgb(240, 240, 240);
border-width: 1px;
border-style: solid;
border-color: rgb(192, 192, 192);
margin-left: -1px ;
margin-right: 10px;


}

.search-button,
.voice-search-button,
.notifications-icon-container,
.profile-icon-container,
.upload-icon-container {
position: relative;
display: flex;
justify-content: center;
align-items: center;

}
.search-button .tooltip,
.voice-search-button .tooltip,
.notifications-icon-container .tooltip,
.profile-icon-container .tooltip,
.upload-icon-container .tooltip {
  font-family: roboto, arial;
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip, 
.voice-search-button:hover .tooltip,
.profile-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip,
.upload-icon-container:hover .tooltip {
opacity: 1;
}
.search-icon {
height: 25px;
margin-top: 4px;
}
.voice-search-button {
height: 40px;
width: 40px;
border-radius: 20px;
border:none;
 background-color: rgb(245, 245, 245);

}
.voice-search-icon {
  height: 24px;
 
 
}
.right-section {
  
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;

}

.upload-icon {
  height: 24px;
}
.youtube-app-icon {
  height: 24px;
}
.notification-icon {
  height: 24px;
}
.notifications-icon-container {
  position: relative;
}
.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  font-family: roboto, arial ;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgb(200, 0 , 0);
  color: white;
  border-radius: 10px;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
}
